doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")

  body
    .wrapper
      h1 Create a New Book Record

      a(href="/").link Return to the homepage

      .form-wrapper
        form(action="/update-cobj" method="POST")
          div.inputField
            label(for="name") Name:
            input(type="text" id="name" name="name" required)

          div.inputField
            label(for="author") Author:
            input(type="text" id="author" name="author" required)

          div.inputField
            label(for="genre") Genre:
            input(type="text" id="genre" name="genre" required)

          div.inputField
            input(type="submit" value="Create Book")
