@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 50px 20px;
}

h1 {
    margin: 1rem;
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.form-wrapper form {
    margin-top: 20px;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: rgb(174, 110, 233);
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
    color: #ffffff;
    margin-top: 25px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.cards table {
    border-collapse: collapse;
}

.cards table td, .cards table th {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: left;
}

.cards table th {
    background-color: rgb(239, 236, 243);
}

.cards table tr:nth-child(odd) {
    background-color: aliceblue;
}